.parent{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

}
form{
    background-color: rgb(19, 19, 19);
    width: 800px;
    height: 100%;
    padding: 10px;
    text-align: center;
    overflow:auto;
    border-radius: 10px;
}
label{
    width: 100px;
    margin: 20px;
    font-size: 20px;
    font-weight: bold;
    color: aliceblue;
    
}
input{
    height: 40px;
    border-radius: 10px;
    width: 300px;
}
.but{
    width: 200px;
    border-radius: 10px;
    margin-left: 60px;
    margin-top: 20px;
    padding: 8px;
}
.state{
    width: 300px;
    height: 40px;
    border-radius: 5px;
    
}
.radio{
    width: 15px;
}
.label2{
    width: 80px;
}